# AIML raw datasets
ner_landslide_aiml/data/raw/

# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
# Environment variables
.env
.env.*
node_modules/
# Supabase local temp files
supabase/.temp/